<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../partials/navbar.css">
    <link rel="stylesheet" href="../animepageinfo.css">
    <base href="/"/>
    <title>Anime Info</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="banner">
        <img width="100%" height="300px" src="<%= anime.attributes.coverImage?.large || 'https://media.discordapp.net/attachments/722887140723392625/1087531695630209064/image.png' %>">
    </div>
    <div class="body-info">
        <img src="<%= anime.attributes.posterImage?.small %>">
        <p style="color: white;"><%= anime.attributes.synopsis %></p>
    </div>
</body>
</html>