<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/home.css">
        <script src="js/home.js"></script>
        <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
        <title>Minha Lista de Anime</title>
</head>

<body>
    <%- include('partials/load') %>
        <%- include('partials/navbar') %>
            <div class="welcome"
                style="background-image: url(https://steamuserimages-a.akamaihd.net/ugc/929300849226077615/E5DDB9609D5CC455AD775EB27AF450C75C1F63B6/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);">
                <div
                    style="position: absolute; width: 100%; height: calc(100vh); backdrop-filter: brightness(30%); display: flex; justify-content: center; align-items: center;">
                    <h1 id="welcome-text"
                        style="text-align: center; font-family: 'Poppins', sans-serif; position: absolute; color: white; z-index: 3; font-weight: 100;">
                    </h1>
                    <div class="button" style="position: absolute; bottom: 15px; left: 15px; padding: 15px">
                        <a><button style="border: 1px solid white; background: transparent; color: white;">Assistir</button></a>
                    </div>
                    <i id="scroll" class="fa-solid fa-chevron-down"
                        style="font-size: 30px; cursor: pointer; position: absolute; bottom: 15px; color: white;"></i>
                </div>
            </div>
            <section>
                <div class="main-screen">
                    <section>
                        <h3>Recomendados</h3>
                        <hr>
                        <div class="anime-slide" id="recomendados">
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                            <div class="anime-info-card">
                                <img src="https://media.kitsu.io/anime/poster_images/13480/medium.jpg">
                                <p>Yuru Camp△</p>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <%- include('partials/footer') %>
</body>

</html>