<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="partials/navbar.css">
    <link rel="stylesheet" href="partials/scrollbar.css">
    <link rel="stylesheet" href="partials/footer.css">
    <link rel="stylesheet" href="home.css">
    <title>Minha Lista de Anime</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="principal" style="background: url(images/welcome.jpg);">
            <div class="texts">
                <h1>Bem vindo(a)</h1>
                <p>Boas vindas ao <strong>Minha Lista de Anime</strong>! saiba como o site funciona nesse post.</p>
            </div>
        </div>
        <%- include('partials/footer') %>
</body>

</html>