.yt-video>h1 {
    color: rgb(98, 236, 98);
    font-weight: 100;
}

.yt-video {
    color: aliceblue;
    flex-direction: column;
    margin-top: 680px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.episodes-container {
    margin-top: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #15171a;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.episodes-card:hover {
    transform: scale(1.03);
}

.episodes-card {
    animation: show 0.5s;
    transition: all 1s;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #1e2124;
    display: flex;
    width: 100%;
    height: 120px;
}

.episodes-container a {
    width: 80%;
}

.episodes-card img {
    border-radius: 4px;
    width: 175px;
    height: 100%;
}


.anime-texts h5 {
    margin: 2px;

    font-weight: 100;
    color: rgb(98, 236, 98);
}

.anime-texts h4 {
    margin: 0px;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.anime-texts p::-webkit-scrollbar {
    display: none;
}

@keyframes show {
    from {
        background-color: white;
    }

    to {
        border-right: transparent;
    }
}

.anime-texts {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#prev {
    margin-left: 10%;
    background: rgb(219, 79, 79);
}

#next {
    background: rgb(98, 236, 98);
}

.display button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 180px;
}

.display {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 0px;
    background-color: #15171a;
    width: 100%;
    padding: 30px;
}
.banner {
    height: 305px;
    position: absolute;
    width: 100%;
    background-color: white;
    filter: brightness(40%);
    background-size: cover;
    background-repeat: no-repeat;
}

.poster {
    margin-top: 240px;
    margin-left: 80px;
    position: absolute;
    padding-top: -90px;
    display: flex;
    flex-direction: row;
}

.anime-desc>h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(98, 236, 98);
    font-size: xx-large;
    margin: 20px 0px;
    -webkit-text-stroke: 1px black;
}

.anime-desc>p {
    padding-right: 5px;
    max-height: 344.64px;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 0px;
}

.anime-desc {
    max-height: 424.64px;
    position: relative;
    text-align: justify;
    max-width: 700px;
    padding-left: 40px;
}

@media screen and (max-width: 1090px) {
    .anime-desc {
        max-width: 100%;
        padding-left: 0px;
        padding: 25px;
    }

    .yt-video>iframe {
        width: 90vw;
    }

    .yt-video {
        margin-top: 200px;
    }

    .anime-desc>h2 {
        text-align: center;
    }

    .poster {
        display: flex;
        align-items: center;
        margin-top: 60px !important;
        flex-direction: column;
        position: relative;
        margin: 0px 0px 0px 0px;
    }

    .poster>img {
        width: 225px;
    }
}

.episodes-buttons {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.episodes-buttons>a {
    width: 70%;
}
.episodes-buttons>a>button:hover {
    transform: scale(1.1);
}
.episodes-buttons>a>button {
    transition: all .5s;
    cursor: pointer;
    background-color: rgb(98, 236, 98);
    border-radius: 3px;
    height: 30px;
    width: 100%;
    border: none;
}