.stream h1 {
    color: white;
    font-weight: 100;
}
.stream {
    width: 100%;
    padding: 25%;
    margin-top: -23%;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
#players button:hover {
    box-shadow: 0px 0px 0px 0px rgb(153, 5, 5);
    background: rgb(199, 5, 5);
}
#players button {
    transition: all 1s;
    box-shadow: 0px 5px 0px 1px rgb(153, 5, 5);
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 10px;
    background: red;
    border: none;
    width: fit-content;
    padding: 10px;
    border-radius: 3px;
}

.player-buttons {
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background-color: rgb(98, 236, 98);
    padding: 10px;
    border-radius: 3px;
}

/* botões do plyr */
:root {
    --plyr-color-main: red
}
