<img src="images/footer.png" width="180px" style="margin-bottom: -4px; margin-left: 20px; margin-top: 180px;">
<footer>
    <div>
        <img src="images/logo7.png" width="180px">
        <p>Criado usando ExpressJS e TypeScript, assista animes, critique, faça amigos e muito mais.</p>
    </div>
    <div>
        <p>Copyright © 2023 Mateus. Todos os direitos reservados.</p>
    </div>
</footer>