<div class="load">
    <div class="loader"></div>
    <div class="load-text"><i style="text-align: center;" id="text-load"></i></div>
    <div id="load-aprt1" style="background-color: rgb(17, 19, 21); width: 50%;"></div>
    <div id="load-aprt2" style="background-color: rgb(17, 19, 21); width: 50%;"></div>
</div>