<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav>
    <div class="navbar-left">
        <a href="/" style="height: 100%; align-items: center; display: flex;"><img src="/images/logo6.png" alt="Logo do Site" height="80%"></a>
        <div class="navbar-buttons">
            <a href="#"><button class="buttons-style-nav">
                    <i class="fa fa-home"></i> Inicio
                </button></a>
            <a href="#"><button class="buttons-style-nav">
                    <i class="fa-brands fa-github"></i> Github
                </button></a>
        </div>
    </div>
    <div class="navbar-direita">
        <form method="get" action="animes/search">
            <div class="input-container">
                <i class="fa fa-search"
                    style="position: absolute; top: 28px; z-index: -1; margin-left: 5px; color: white;"></i>
                <input type="text" class="navbar-input" name="query" required>
            </div>
        </form>
        <a href="#"><button class="buttons-style-nav">
                <i class="fa-solid fa-right-to-bracket"></i> Logar
            </button></a>
        <a href="#"><button class="buttons-style-nav">
                <i class="fa-solid fa-user-plus"></i> Criar conta
            </button></a>
    </div>
</nav>