<nav class="navbar">
    <div class="navbar-left">
        <img src="https://media.discordapp.net/attachments/722887140723392625/1087135346661261372/Novo_Projeto_1.png" height="100%">
        <a><button>Suporte</button></a>
        <a><button>Inicio</button></a>
        <a><button>Github</button></a>
    </div>
    <div class="navbar-center">
        <!-- Nada aqui... -->
    </div>
    <div class="navbar-right">
        <form method="POST" action="animes/search">
            <input type="text" name="animeName" placeholder="Pesquisar animes">
        </form>
        <a href="login"><button>Login</button></a>
        <a href="login"><button>Registrar</button></a>
    </div>
</nav>