@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Righteous&display=swap');

.navbar-right>form {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.navbar-right>form>input {
    border: none;
    outline: none;
    height: 45%;
    border-radius: calc(((0.4vw + 0.1vh) / 2));
}

.navbar-right>form>input:not(text) {
    width: fit-content;
    font-size: calc(((0.6vw + 0.5vh)));
    padding-left: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5.9vh;
    min-height: 60px;
    background-color: #2c2f33;
}

.navbar-right {
    gap: 2%;
    align-items: center;
    justify-content:flex-end;
    margin-right: 1%;
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar-right>a>button {
    font-size: calc((1vw + 1vh) / 2);
    height: 50%;
    min-width: 120px;
    cursor: pointer;
    width: 90%;
    border-radius: calc(((0.4vw + 0.1vh) / 2));
    border: 3px solid #fff15b;
    background: #fff15b;
    transition: border 0.5s ease-in-out;
}

.navbar-left>a>button {
    color: white;
    transition: color 3s ease-in-out;
}

.navbar-right>a>button:hover {
    border: 3px solid white;
}
.navbar-right > a {
    min-width: 155px;
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-left > a {
    width: 14%;
    display: flex;
    align-items: center;
}
.navbar-left>a>button {
    cursor: pointer;
    font-size: calc(((1vw + 1vh) / 2) + 5px);
    width: 90%;
    border-radius: calc(((0.4vw + 0.1vh) / 2));
    height: 50%;
    border: none;
    background: transparent;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.navbar-left>a>button:hover {
    color: black;
    background: #fff15b;
}


.navbar-left {
    gap: 1%;
    justify-content: flex-start;
    margin-left: 1%;
    display: flex;
    height: 100%;
    width: 100%;
    float: left;
}

.menu {
    cursor: pointer;
    margin-left: 30px;
    display: none;
    align-self: center;
    height: 50%;
}

.dropdown>ul {
    padding: 10px !important;
}

.dropdown>ul>li>a>button {
    font-size: medium;
    margin-top: 3px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #fff15b;
    background: #fff15b;
    width: 120px;
    height: 100%;
}

.dropdown>ul>li>form>input {
    border: none;
    outline: none;
    width: auto;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.dropdown>ul>a>li {
    color: white;
    text-align: center;
    background-color: rgb(57, 64, 64);
    margin: 5px;
    border-radius: 3px;
}

.dropdown {
    z-index: 2;
    display: none;
    background: #2c2f33;
    margin-left: 30px;
    color: white;
    position: absolute;
    transition: display 2s ease;
}
@media screen and (max-width: 1920px) {
    .navbar-right>a>button  {
        font-size: medium;
    }
}
@media screen and (max-width: 1090px) {
   

    .navbar-right>form>input:not(text) {
        font-size: 12px;
    }

    .navbar-left>img[id="icon"] {
        height: 80%;
        align-self: center;
        justify-self: center;
        margin-left: 5vw;
    }

    .menu {
        display: flex;
    }

    .navbar-left>a {
        display: none;
    }
}

@media screen and (max-width: 740px) {
   
    .navbar-right {
        display: none;
    }

    .navbar-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        justify-self: flex-start;
        margin-left: 0px;
    }

    .navbar-left>img[id="icon"] {
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}