@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Righteous&display=swap');
i {
    margin-right: 8px;
}
.navbar-right>form {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.navbar-right>form>input {
    border: none;
    outline: none;
    height: 45%;
    border-radius: calc(((0.4vw + 0.1vh) / 2));
}

.navbar-right>form>input:not(text) {
    width: fit-content;
    font-size: calc(((0.6vw + 0.6vh)));
    padding-left: 2%;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5.9vh;
    min-height: 60px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);
    background-color: #2c2f33;
}

.navbar-right {
    gap: 2%;
    align-items: center;
    justify-content:flex-end;
    margin-right: 1%;
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar-right>a>button {
    font-size: calc((1vw + 1vh) / 2);
    height: 50%;
    min-width: 120px;
    cursor: pointer;
    width: 90%;
    box-shadow: 0px 0px 5px #fff15b;
    border-radius: calc(((0.4vw + 0.1vh) / 2));
    border: 3px solid #fff15b;
    background: #fff15b;
    transition: border 0.5s ease-in-out;
}

.navbar-left>a>button {
    color: white;
    transition: color 3s ease-in-out;
}

.navbar-right>a>button:hover {
    border: 3px solid white;
}
.navbar-right > a {
    min-width: 155px;
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-left > a {
    width: 14%;
    display: flex;
    align-items: center;
}
.navbar-left>a>button {
    cursor: pointer;
    font-size: calc(((1vw + 1vh) / 2) + 5px);
    width: 90%;
    border-radius: calc(((0.4vw + 0.1vh) / 2));
    height: 50%;
    border: none;
    background: transparent;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.navbar-left>a>button:hover {
    color: black;
    background: #fff15b;
}


.navbar-left {
    gap: 1%;
    justify-content: flex-start;
    margin-left: 1%;
    display: flex;
    height: 100%;
    width: 100%;
    float: left;
}

.menu {
    cursor: pointer;
    margin-left: 30px;
    display: none;
    align-self: center;
    height: 50%;
}

.dropdown>ul {
    width: 90%;
    padding: 10px !important;
}

.dropdown>ul>li:nth-child(4) {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.dropdown>ul>li>a>button {
    font-size: medium;
    margin-top: 3px;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #fff15b;
    background: #fff15b;
    width: 120px;
    height: 100%;
}

.dropdown>ul>li>form>input {
    border: none;
    outline: none;
    width: auto;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.dropdown>ul>a>li {
    color: white;
    text-align: center;
    background-color: rgb(57, 64, 64);
    margin: 5px;
    border-radius: 3px;
}
@keyframes dr {
    from {
        margin-top: -300px;
    }
    to {
        margin-top: 0px;
    }
}
.dropdown {
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    display: none;
    background: #2c2f33;
    margin-left: 0px;
    width: 100%;
    color: white;
    animation: dr 2s;
}
@media screen and (max-width: 1920px) {
    .navbar-right>a>button  {
        font-size: medium;
    }
}
@media screen and (max-width: 1090px) {
   

    .navbar-right>form>input:not(text) {
        font-size: 12px;
    }

    .navbar-left>img[id="icon"] {
        height: 80%;
        align-self: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
       
    }

    .menu {
        display: flex;
    }

    .navbar-left>a {
        display: none;
    }
}

@media screen and (max-width: 740px) {
   
    .navbar-right {
        display: none;
    }

    .navbar-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        justify-self: flex-start;
        margin-left: 15px;
    }

    .navbar-left>img[id="icon"] {
        position: absolute;
        height: 80%;
        left: 36%;
    }
}