@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Righteous&display=swap');

.navbar-right > form > input {
    border: none;
    outline: none;
    width: auto;
    height: 35px;
    border-radius: 10px;
    margin: 16px;
}

.navbar-right > form > input:not(text) {
    padding-left: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    background-color: #2c2f33;
}

.navbar-right {
    align-items: center;
    justify-content: end;
    margin-right: 30px;
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar-right > a > button {
    font-size: medium;
    cursor: pointer;
    margin: 16px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid rgb(98, 236, 98);
    background: rgb(98, 236, 98);
    transition: border 0.5s ease-in-out;
    width: 120px;
    height: 100%;
}
.navbar-left > a > button  {
    color: white;
    transition: color 3s ease-in-out;
}

.navbar-right > a > button:hover {
    border: 3px solid white;
}

.navbar-left>a>button {
    cursor: pointer;
    font-size: medium;
    margin: 14px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background: transparent;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.navbar-left > a > button:hover {
    color: black;
    background: rgb(98, 236, 98);
}


.navbar-left {
    margin-left: 30px;
    display: flex;
    height: 100%;
    width: 100%;
    float: left;
}
.menu {
    cursor: pointer;
    margin-left: 30px;
    display: none;
    align-self: center;
    height: 50%;
}
.dropdown > ul {
    padding: 10px !important;
}
.dropdown > ul > li > a > button {
    font-size: medium;
    margin-top: 3px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid rgb(98, 236, 98);
    background: rgb(98, 236, 98);
    width: 120px;
    height: 100%;
}
.dropdown > ul > li > form > input {
    border: none;
    outline: none;
    width: auto;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}
.dropdown > ul > a > li {
    color: white;
    text-align: center;
    background-color: rgb(57, 64, 64);
    margin: 5px;
    border-radius: 3px;
}
.dropdown {
    z-index: 2;
    display: none;
    background: #2c2f33;
    margin-left: 30px;
    color: white;
    position: absolute;
    transition: display 2s ease;
}

@media screen and (max-width: 1090px) {
    .navbar-left > img[id="icon"] {
        display: none;
    }
    .menu {
        display: flex;
    }
    .navbar-left > a {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .navbar-right {
        display: none;
    }
}