::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #131517;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #fff15b; 
    border-radius: 10px;
}