html,
body {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #1e2124;
}

body * {
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}

body * a {
    text-decoration: none;
}

.yt-video>h1 {
    color: #fff15b;
    font-weight: 100;
}

.yt-video {
    color: aliceblue;
    flex-direction: column;
    margin-top: 680px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner {
    height: 305px;
    position: absolute;
    width: 100%;
    background-color: white;
    filter: brightness(40%);
    background-size: cover;
    background-repeat: no-repeat;
}

.poster {
    margin-top: 240px;
    margin-left: 80px;
    position: absolute;
    padding-top: -90px;
    display: flex;
    flex-direction: row;
}

.anime-desc>h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff15b;
    font-size: xx-large;
    margin: 20px 0px;
    -webkit-text-stroke: 1px black;
}

.anime-desc>p {
    padding-right: 5px;
    max-height: 344.64px;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 0px;
}

.anime-desc {
    max-height: 424.64px;
    position: relative;
    text-align: justify;
    max-width: 700px;
    padding-left: 40px;
}

@media screen and (max-width: 1090px) {
    .anime-desc {
        max-width: 100%;
        padding-left: 0px;
        padding: 25px;
    }

    .yt-video>iframe {
        width: 90vw;
    }

    .yt-video {
        margin-top: 200px;
    }

    .anime-desc>h2 {
        text-align: center;
    }

    .poster {
        display: flex;
        align-items: center;
        margin-top: 60px !important;
        flex-direction: column;
        position: relative;
        margin: 0px 0px 0px 0px;
    }

    .poster>img {
        width: 225px;
    }
}