html, body {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #1e2124;
}

body * {
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}

body * a {
    text-decoration: none;
}
.yt-video > h1 {
    color: rgb(98, 236, 98);
    font-weight: 100;
}
.yt-video {
    color: aliceblue;
    flex-direction: column;
    margin-top: 680px;
   align-items: center;
   justify-content: center;
   display: flex;
}
.banner > img {
    position: absolute;
    filter: brightness(50%);
}
.poster {
    margin-top: 240px;
    margin-left: 80px;
    position: absolute;
    padding-top: -90px;
    display: flex;
    flex-direction: row;
}
.anime-desc > h2 {
    color:rgb(98, 236, 98);
    font-size: xx-large;
    margin: 20px 0px;
    -webkit-text-stroke: 1px black;
}
.anime-desc > p {
    margin-top: 0px;
}
.anime-desc {
    position: relative;
    text-align: justify;
    max-width: 700px;
    padding-left: 40px;
}